.shopping-cart {
    width: 750px;
    
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
  }

  .title {
    height: 20px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }

  @media (max-width: 900px){
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
  }
   